index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Foldery WordPress core
wp-admin/
wp-includes/
wp-content/

# Node.js
node_modules/
package-lock.json
package.json

# Paczki i pliki tymczasowe
*.zip
.DS_Store
Thumbs.db